<!DOCTYPE html>
<html lang="en" data-ng-app="chatApp">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Chatbox permettant aux utilisateurs
        d'échanger avec un opérateur."/>
        <title>Lucca | Chatbox</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
        <script src="./app.js"></script>
        <link rel="icon" type="image/png" href="assets/Jumping_CC.svg"/>
        <link rel="stylesheet" href="build/style.css">
        <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    </head>
    <body>
        <main class="container" data-ng-controller="ChatController">
            <div class="banner">
                <img src="./assets/Jumping_CC.svg" alt="logo">
            </div>
            <input type="checkbox" id="chatbox-toggle" checked>
            <label for="chatbox-toggle" id="chatbox-label">
                <img src="assets/Jumping_CC.svg" alt="logo Jumping CC">
                <img src="assets/cross_icon.png" alt="cross white">
            </label>
            <div class="chatbox">
                <div class="chatbox__header">
                    <img src="assets/_MG_9428.jpg" alt="operateur picture">
                    <div>
                        <h4>Opératrice</h4>
                        <p><small>Actif</small></p>
                    </div>
                </div>
                <div class="chatbox__container">
                    <div class="chatbox__box" data-ng-repeat="message in
                    messages">
                        <p><b>{{message.author}}</b></p>
                        <div class="chatbox__content">
                            <img class="chatbox__pictures" src="//:0"
                            data-ng-src="{{message.img}}"
                            data-ng-class="{left:message.me}" alt="profil
                            picture">
                            <p class="chatbox__messages">{{message.message}}</p>
                        </div>
                        <p class="chatbox__date">{{message.time | date:'dd/MM/yyyy - HH:mm'}}</p>
                    </div>
                </div>
                <div class="chatbox__writing" data-ng-if="messageInput">
                    <div data-ng-class="{show:messageInput}">
                        <img src="assets" data-ng-src="{{messageInput.img}}"
                        alt="profil picture">
                        <p>{{messageInput.author}} écrit ...</p>
                    </div>
                </div>
                <div class="chatbox__form">
                    <form data-ng-submit="sendMessage()">
                        <input placeholder="Envoyer un message"
                        data-ng-model="currentMessage"
                        data-ng-change="updateInput()">
                        <button>
                            <img src="assets/Send.svg" alt="send logo">
                        </button>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>